.swiper-button-next {
    position: absolute;
    color: #898c95;
    width: 16px !important;
    height: 33px !important;
    left: 6px;
}

.swiper-button-prev {
    position: absolute;
    color: #898c95;
    width: 16px !important;
    height: 33px !important;
    right: 17px !important;
}
